*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #444;
}

header h1 {
    font-size: 2.5em;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #fff;
}

main {
    padding: 20px;
}

.movies-container {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.movie {
    background-color: #333;
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.movie img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #444;
}

.movie h2 {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 500;
}

.movie-info{
    padding-left: 20px;
    text-align: left;
}

.movie-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
}

movie-info p {
    font-size: 1em;
    color: rgb(167, 167, 167);
}

